<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Verleihnix-App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list [inset]="true">

    @for ( sache of getVerlieheneSachen(); track sache ) {

      <ion-item [routerLink]="'/leihobjekt/' + sache.id" [detail]="false">
        <ion-label>
          {{ sache.sache }}
          &nbsp;
          <ion-note *ngIf="sache.faellig" color="danger">überfällig</ion-note>
        </ion-label>
      </ion-item>

    }
    
  </ion-list>

</ion-content>
